.layout {
  padding: 20px;
  text-align: center;
  min-height: 100vh;
  background-color: antiquewhite;
}

.form-control {
}

.is-invalid {
  border: 3px solid red;
}

.loader {
  height: 100px;
  width: 100px;

  border-radius: 50%;

  display: block;
  border: 17px solid red;
  /* border-top: 17px solid rgb(0, 255, 208); */
}
